<div class="card-header">
          Created by {{host_id}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{description}}</p>
           <p class="card-text">Starts date: {{start}} End date:{{end}}</p>
          <a href="#" class="btn btn-primary">Join</a>
        </div>
      </div>
